/* .waiter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
} */

.witer-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    color:#361B3A;
    padding-top: 25px;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card-text {
    color: #f9a531;
    background-color:#361B3A;
    padding: 15px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.card-text:hover {
    border-style: none;
    background-color: #f9a531;
    color: #361B3A;
}


.card-body {
    padding: 0;
}
a{
    text-decoration: none;
}

   
  